<div *ngIf="listPerson">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <input placeholder ="Titre" type="text" formControlName="title">
      <input placeholder="Description" type="text" formControlName="description">
      <input placeholder="Année de sortie" type="number" formControlName="releaseYear">
      <p><select formControlName="realisatorID">
        <option *ngFor="let p of listPerson"
                    [value]="p.id">
                    {{p.firstName}} {{p.lastName}}</option>
    </select></p>
    <p><select formControlName="scenaristeID">
      <option *ngFor="let p of listPerson"
                  [value]="p.id">
                  {{p.firstName}} {{p.lastName}}</option>
  </select></p>
    </div>
    <button class="btn btn-succes" type="submit">Ajouter</button>
  </form>
</div>
